.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.principal{
  justify-content: center;
  align-items: center;
  display: flex;

}
.conteiner{
  margin-top: 150px;
  padding: 100px;
  background-color: lightslategrey;
  text-align: center;
  width: max-content;
  display: inline-block;
}
.padding-monedas{
  padding-right: 30px;
  padding-left: 30px;
}
.all-monedas{
  display: inline-flex;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
